<template>
    <div>
        <div v-if="isAddRoute === false">
            Search <input type="text" class="mb-4" v-model="searchKey" @change="fetch()"/>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th>
                            <button type="button" class="btn btn-primary" @click="addNewRoute">
                                <fa-icon icon="plus-square"></fa-icon>
                                Add New Route
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(route, index) in routes" :key="index">
                        <td>{{route.name}}</td>
                        <td>{{route.qty}}</td>
                        <td>
                            <a :href="'/route/update?routeId='+route.routeId" class="btn btn-warning">
                                <fa-icon icon="edit"></fa-icon>
                                Edit
                            </a>
                            <button class="btn btn-danger" @click="deleteRoute(route.routeId)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ul class="pagination">
                    <li class="page-item" v-for="page in totalPage">
                        <button @click="changePage(page)">{{page}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="isAddRoute === true">
            <h1 class="mb-4">Insert New Route</h1>

            <validation-observer ref="observer" v-slot="{validate, valid}">
                <form method="post" @submit.prevent="insertRoute">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <validation-provider name="Name" rules="required" v-slot="{errors}">
                            <input type="text" class="form-control" id="name" v-model="newRoute.name">
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                    </div>
                    <div class="form-group">
                        <label for="qty">Quantity</label>
                        <validation-provider name="Quantity" rules="required|integer" v-slot="{errors}">
                            <input type="number" class="form-control" id="qty" v-model="newRoute.qty">
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </validation-observer>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { RouteService, RouteModel } from '../services/NswagService';
    import { ValidationObserver } from 'vee-validate'
    import Swal from 'sweetalert2';

    @Component({
        //Function yang akan dijalankan pertama kali saat vue selesai di render
        created: async function (this: IndexRoute) {
            await this.fetch();
        }
    })
    export default class IndexRoute extends Vue {
        service: RouteService = new RouteService();
        isAddRoute = false;

        routes: RouteModel[] = [];
        newRoute: RouteModel = {
            name: '',
            qty: '',
        }

        searchKey = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;


        //Function untuk menjalankan fungsi pada service untuk mengambil data dengan pagination dan filter
        async fetch(): Promise<void> {
            this.totalData = await this.service.getTotalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);
            this.routes = await this.service.getFilteredRoute(this.pageIndex, this.itemPerPage, this.searchKey);
        }

        //Function untuk mengganti value pageIndex
        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }

        //Function untuk mengganti state view menjadi insert
        addNewRoute(): void {
            this.isAddRoute = true;
            return;
        }

        //Function untuk memanggil fungsi insert pada service
        async insertRoute(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }

            await this.service.insertRoute(this.newRoute);
            await this.fetch();

            Swal.fire({
                title: '~~Yeay~~',
                icon: 'success',
                text: 'Success insert new data'
            })

            this.isAddRoute = false;
        }

        //Function untuk memanggil fungsi delete pada service
        async deleteRoute(routeId): Promise<void> {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(async (result) => {
                if (result.value) {
                    await this.service.deleteRoute(routeId);
                    await this.fetch();
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        }
    }
</script>
