<template>
    <div>
        <h1 class="mb-4">Update Route</h1>
        <validation-observer ref="observer" v-slot="{validate, valid}">
            <form method="post" @submit.prevent="updateRoute">
                <div class="form-group">
                    <label for="name">Name</label>
                    <validation-provider name="Name" rules="required" v-slot="{errors}">
                        <input type="text" class="form-control" id="name" v-model="newRoute.name">
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                </div>
                <div class="form-group">
                    <label for="qty">Quantity</label>
                    <validation-provider name="Quantity" rules="required|integer" v-slot="{errors}">
                        <input type="number" class="form-control" id="qty" v-model="newRoute.qty">
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { RouteService, RouteModel } from '../services/NswagService';
    import { ValidationObserver } from 'vee-validate'
    import Swal from 'sweetalert2';

    @Component({
        //Function untuk dijalankan saat pertama kali vue di render
        created: async function (this: UpdateRoute) {
            await this.getSpecificRoute();
        }
    })
    export default class UpdateRoute extends Vue {
        service: RouteService = new RouteService();

        newRoute: RouteModel = {
            name: '',
            qty: '',
        }

        //Function untuk mengambil data dari Route yang sekarang ingin di update
        async getSpecificRoute(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const routeId = urlParams.get('routeId')?.valueOf();

            if (routeId != null) {
                this.newRoute = await this.service.getSpecificRoute(parseInt(routeId));
            }
        }

        //Funtion untuk memanggil fungsi update yang disediakan oleh service
        async updateRoute(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }

           Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {
                    await this.service.updateRoute(this.newRoute);
                    Swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    );
                    window.location.href = '/route';
                }
            })
        }
    }
</script>
